.smiley_block {
    position: relative;
    text-align: left;
}
.smiley_block textarea{
    width: 100%;
    resize: none;
    margin-bottom: 25px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 6px 12px;
}
.smiley_block textarea::-webkit-scrollbar{
    width:5px;
}
.smiley_block textarea::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    border-radius: 5px;
}
.smiles_list {
    height: 100px;
    overflow: auto;
    position: absolute;
    background-color: rgba(10,10,10,.6);
    bottom: 0;
    margin-bottom: 23px;
    display: none;
}
.smiles_list::-webkit-scrollbar{
    width:5px;
}
.smiles_list::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    border-radius: 5px;
}
.smiles_list img {
    padding: 1px;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.smiles_list span {
    margin: 1px 3px 1px 3px;
    max-width: 40px;
    max-height: 40px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
/*.smiles_list span:hover {*/
    /*max-height: 60px;*/
    /*max-width: 60px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*margin: 0 auto;*/
    /*z-index: 100;*/
/*}*/
.smiles_panel{
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    border: solid 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 0;
    left: 0;
    height: 25px;
}
.smiles_panel span{
    padding:3px;
    vertical-align: middle;
}
#emoji img{
    vertical-align: middle;
}
.comment_item{
    padding: 6px 12px;
    margin-bottom: 10px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#smilesViewer{
box-shadow: 0 0 60px 3px rgba(0,0,0,0.7);
    background-color: #fff;
    padding: 4px;
    margin: 0;
    border: solid 0.1em;
    display: none;
    position: absolute;
    z-index: 30;
    transition: .5s;
    border-radius: 7px;
}

.comment_block{
    position: relative;
}
.comment_image{
    padding: 5px 0;
    position: absolute;
    top: 0;
    width: 50px;
}
.comment_image img{
    width: 50px;
    height: 50px;
    display: block;
}
.comment_body{
    margin-left: 60px;
    padding: 0 0 2px;

    text-align: left;
    min-height: 60px;
}
.comment_body .user_name{
    width: 100%;
    overflow: hidden;
    color: #2c3e50;
    font-size: 1.2em;
    font-weight: bold;
}
.comment_body .comment_text{
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}
.comment_footer{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 10px;
    color: #999;
    text-align: right;
}